
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  

  @media (max-width: 600px) {
    header h1 {
      color: rgb(251, 146, 0);
    }
  }
  

  main img {
    width: 100%;
    margin: 0 auto;
  }
  

  @media (max-width: 800px) {
    main img {
      width: 49%;
    }
  }